<html>
<head>
  <title>OWSCALL</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>
<body>
  <div class="container">
    <div class="input-group">
      <input type="text" class="form-control" placeholder="WSDL URL" aria-describedby="basic-addon1">
    </div>
    <button class="btn btn-primary">Parse WSDL</button>
  </div><!--container-->
</body>
</html>
